.Admin {
   padding: 10px;
   padding-bottom: 10px;
   
  ;
    
}

.Admin h2{
  
     color: rgb(100, 124, 107);
  
}
.Admin .prods,
.Admin .cpns {
    border: 1px solid #e3cdcd;
    border-radius: 4px;
    background-color: white;
}

.Admin .parent {
    display: flex;
    justify-content: space-around;
}
.Admin .prods {
    width: 500px;
}
.Admin .cpns {
    width: 500px;
}
.Admin .controls {
    margin-top: 12px;
    text-align: center;
}
.form-control{
    background-color: white;
    width: 80%;
}

.parent .prods div, .cpns div {
    display: flex;
    flex-direction: row;
    align-items: center;
}