.Home{
    padding: 20px;
    background-color: rgb(91, 91, 223);
    
}

.Home h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-bottom: 0px;
 
}
.Home img {
    width: 40%;
    height: 50%;


}

.Home .info h3,
.Home .info h4 {

    top: 40%;
    right: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 56px !important;

}
.image-container{
    background-color:rgb(108, 102, 229);
    text-align: start;
    width: 80%;
    height: 70%;

}
