.footer{
    background-color: rgb(189, 189, 224);
    
}

.footer h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
    color: white;
    text-align: center;
    margin-bottom: 0px;
 
}
