.navbar-menu{
    padding: 5px;
    display: flex;
    height: 60px;
    align-items: center;
    background-color: green;
}
.navbar-menu a{
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(249, 252, 254);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    color: rgb(14, 14, 223);
    text-decoration: underline;
    font-size: 20px;
}

.navbar-menu .title{
    font-weight:bolder;
    color: purple;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px ;
   }

.navbar-menu .end {
    margin-left: auto;
}
.navbar-menu .user-info{
    border: 1px solid;
    border-radius: 4 px;
    padding: 7px;
}
